/* Sora font 200-800*/
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600;700;800&display=swap");
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Sora', sans-serif;
  letter-spacing: 5px;
  overflow-x: hidden;
}

/****** VARIABLES ******/
/* COLOR */
#header {
  background-color: #3A3A3A;
  color: #fff;
  height: 120px;
  overflow: hidden;
  -webkit-transition: height, 0.2s;
  transition: height, 0.2s;
}

#header .header-content {
  width: 70%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .header-content .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

#header .header-content .logo img {
  max-height: 64px;
}

#header .header-content .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

#header .header-content .nav-wrapper #burger-menu-toggle {
  display: none;
  stroke: #eee;
  height: 120px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

#header .header-content .nav-wrapper .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#header .header-content .nav-wrapper .nav .nav-item {
  margin-left: 80px;
  font-weight: 800;
  font-size: 1.3em;
  padding: 15px 30px;
  border-radius: 50px;
  position: relative;
  top: 0px;
  -webkit-transition: top 0.25s, -webkit-box-shadow 0.25s;
  transition: top 0.25s, -webkit-box-shadow 0.25s;
  transition: top 0.25s, box-shadow 0.25s;
  transition: top 0.25s, box-shadow 0.25s, -webkit-box-shadow 0.25s;
  cursor: pointer;
  z-index: 200;
  background-color: #3A3A3A;
  color: #E8E8E8;
  text-decoration: none;
}

#header .header-content .nav-wrapper .nav .nav-item:hover {
  top: -5px;
  -webkit-box-shadow: 0px 5px 10px rgba(22, 22, 22, 0.2);
          box-shadow: 0px 5px 10px rgba(22, 22, 22, 0.2);
}

/******** HERO **********/
#hero {
  background-color: #3A3A3A;
  color: #E8E8E8;
  position: relative;
  font-weight: 800;
  height: 800px;
}

#hero .hero-wrapper {
  height: 100%;
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero .hero-wrapper .hero-title {
  width: 200px;
  font-size: 4.0em;
  margin-bottom: 60px;
  line-height: 1.75;
}

#hero .hero-wrapper .hero-title .title-highlight {
  color: #76B08D;
}

#hero .hero-wrapper .hero-cta {
  display: block;
}

#hero .hero-wrapper .hero-cta a {
  background-color: #E8E5A6;
}

#hero .illustrations * {
  position: absolute;
}

#hero .illustrations #splash-1 {
  bottom: -1px;
  right: 20%;
}

#hero .illustrations #main-illustration {
  bottom: 320px;
  right: 20%;
}

/******** EXPERIENCE **********/
#work {
  background-color: #E8E5A6;
  padding-top: 50px;
  padding-bottom: 50px;
  letter-spacing: 2px;
  color: #3A3A3A;
}

#work h1 {
  padding-left: 15%;
  font-size: 3.0em;
  color: #3A3A3A;
}

#work .work-wrapper {
  width: 70%;
  margin: auto;
  /* relative for #work parent */
  position: relative;
}

#work .work-wrapper .case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

#work .work-wrapper .case .case-text {
  width: 40%;
}

#work .work-wrapper .case .case-text .case-title {
  font-weight: 700;
  font-size: 1.7em;
}

#work .work-wrapper .case .case-text .case-description {
  color: #666666;
}

#work .work-wrapper .case .case-text .case-description p:first-of-type {
  font-weight: bold;
}

#work .work-wrapper .case .case-divider-svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  fill: #666666;
}

#work .work-wrapper .case .case-image {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#work .work-wrapper .case .case-image img {
  max-width: 100%;
  -webkit-box-shadow: 0px 5px 10px rgba(33, 33, 33, 0.3);
          box-shadow: 0px 5px 10px rgba(33, 33, 33, 0.3);
}

#work .work-wrapper #work-hr {
  position: absolute;
  content: '';
  width: 1px;
  border-left: 3px dashed #666666;
  height: 92%;
  left: calc(50% - 1px);
  top: 4%;
}

/******** CONTACT **********/
#contact {
  background-color: #3A3A3A;
  color: #E8E8E8;
  padding: 50px 0px;
  position: relative;
}

#contact h1 {
  text-align: center;
  font-size: 2.0em;
}

#contact .contact-form {
  width: 80%;
  max-width: 600px;
  margin: auto;
}

#contact .contact-form .form-group {
  margin-bottom: 40px;
}

#contact .contact-form .form-group > * {
  display: block;
}

#contact .contact-form label {
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 5px;
}

#contact .contact-form input, #contact .contact-form textarea {
  width: calc(100% - 40px);
  padding: 20px;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 5px 10px rgba(22, 22, 22, 0.2);
          box-shadow: 0px 5px 10px rgba(22, 22, 22, 0.2);
}

#contact .contact-form #contact-validation {
  letter-spacing: normal;
  text-align: center;
  height: 0px;
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.1s;
  transition: height 0.3s, opacity 0.1s;
}

#contact .contact-form #contact-submit {
  -webkit-appearance: none;
  background-color: #76B08D;
  color: #3A3A3A;
  border: none;
  width: 100%;
  font-size: 1.5em;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .contact-form #contact-sent {
  text-align: center;
  font-size: 1.5em;
  font-weight: 800;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#contact .illustrations #splash-2 {
  position: absolute;
  top: -1px;
  left: 10px;
  -moz-transform-origin: 0 0;
  /* firefox scale fix */
}

/******** FOOTER **********/
#footer {
  height: 100px;
  background-color: #3A3A3A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .footer-copyright {
  text-align: center;
  color: #eee3;
}

/********* MISC ***********/
.btn {
  padding: 25px 60px;
  outline: none;
  border: none;
  text-decoration: none;
  background-color: #76B08D;
  color: #3A3A3A;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 50px;
  position: relative;
  top: 0px;
  -webkit-transition: top 0.25s;
  transition: top 0.25s;
}

.btn:hover {
  top: -5px;
}

.bg-text {
  color: #E8E8E8;
  background-color: #3A3A3A;
  padding: 5px;
  text-transform: uppercase;
}

.animate-spin {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.animate-pop-out {
  -webkit-animation-name: pop-out;
          animation-name: pop-out;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes pop-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes pop-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.animate-pop-in {
  -webkit-animation-name: pop-in;
          animation-name: pop-in;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes pop-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pop-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 1500px) {
  #header .header-content .nav-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #header .header-content .nav-wrapper #burger-menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header .header-content .nav-wrapper .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #header .header-content .nav-wrapper .nav .nav-item {
    text-align: right;
    margin-top: 20px;
  }
  #hero {
    height: 700px;
  }
  #hero .illustrations {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    position: relative;
    left: 150px;
  }
  #work .work-wrapper .case .case-text {
    width: 46%;
  }
  #work .work-wrapper .case .case-image {
    width: 46%;
  }
  #work #work-hr {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  #hero {
    font-size: 0.75rem;
    height: 600px;
  }
  #hero .illustrations {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    left: 200px;
  }
  #work .work-wrapper .case .case-text {
    width: 48%;
  }
  #work .work-wrapper .case .case-image {
    width: 48%;
  }
  #contact .illustrations #splash-2 {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    top: 0px;
  }
}

@media screen and (max-width: 1000px) {
  #header {
    font-size: 0.7rem;
  }
  #hero {
    font-size: 0.7rem;
    height: 500px;
  }
  #hero .illustrations {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    left: 250px;
  }
  #work .work-wrapper .case {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #work .work-wrapper .case .case-text {
    width: 100%;
  }
  #work .work-wrapper .case .case-image {
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #contact .illustrations #splash-2 {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    top: 0px;
    left: 80%;
  }
}

@media screen and (max-width: 750px) {
  #header .header-content {
    width: 85%;
  }
  #header .nav .nav-item {
    margin-left: 0px !important;
  }
  #hero {
    font-size: 0.6rem;
    height: 400px;
  }
  #hero .hero-wrapper {
    width: 85%;
  }
  #hero .hero-wrapper .hero-cta {
    letter-spacing: normal;
    font-size: 0.8rem;
  }
  #hero .illustrations {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    left: 250px;
  }
}

@media screen and (max-width: 550px) {
  #hero {
    font-size: 0.5rem;
    height: 500px;
  }
  #hero .hero-wrapper {
    width: 85%;
  }
  #hero .illustrations {
    display: none;
  }
  .btn {
    padding: 20px 30px;
  }
}
/*# sourceMappingURL=style.css.map */